.header {
    display: flex;
    justify-content: space-between;
    background-color: #13284662;
    padding: 20px;
}

.navItems>ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navItems>ul>li {
    padding: 2px;
}